.battery_control {
  background-color: #222222;
  border-radius: 16px;
  border-style: solid;
  border-color: #71935B;
  border-width: 5px;
}

.battery-status {
  margin: 50 0 0 50;
}

.status-text {
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 1.3em;
}

.status-subtext {
  font-family: Roboto Mono;
  font-size: 1em;
  margin-left: 120px;
}

.battery-limiter {
  margin: 0 0 0 50;
}

.limiter-bar {
  padding: 30 50 0 0;
}

.limiter-bar highlight {
  border-radius: 16px;
  background-color: #c0c97d;
}

.limiter-bar trough  {
    border-radius: 16px;
    background-color: #2b2b2b;
    border: none;
    min-height: 30px;
    min-width: 250px;
}

.limiter-subtext {
  font-family: Roboto Mono;
  font-size: 1em;
}