* {
	all: unset;
}

.icon {
	color: white;
	margin-left: 20px;
}



/* Brightness control setup */

.bri-control {
	background-color: #222222;
	border-radius: 16px;
	border-style: solid;
 	border-color: #f7e39d;
	border-width: 3px;
}

.bribar {
	padding: 10 20 10 10;
}

.bribar highlight {
	border-radius: 16px;
	background-color: #f7e39d;
}

.bribar trough  {
  	border-radius: 16px;
  	background-color: #2b2b2b;
  	border: none;
    min-height: 10px;
    min-width: 250px;
}

/* Volume control setup */

.vol-control {
	background-color: #222222;
	border-radius: 16px;
	border-style: solid;
 	border-color: #c0c97d;
	border-width: 3px;
}

.volbar {
	padding: 10 20 10 10;
}

.volbar highlight {
	border-radius: 16px;
	background-color: #c0c97d;
}

.volbar trough  {
  	border-radius: 16px;
  	background-color: #2b2b2b;
  	border: none;
    min-height: 10px;
    min-width: 250px;
}